.header{
    text-align: center;
    background-color: rgb(196, 11, 11);
}
body{
    background-color: brown;
}



.me{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: 7px double rgb(0, 255, 242);
    background: green;
    width:50%;
    transition:width 0.1s ease 0.1s infinite;
}


#I {
    color: blue;
}

 .me:hover{
    width: 60%;
    margin:30px; 
    padding: 15px;
    animation:bigger forwards 2s;
}

@keyframes bigger{
    from{
        width: 60%;
    }
    to{
        width:95%
    }
}