.header{
    color:rgb(252, 251, 251);
    font-size: 100px;
    text-align: center;
    border-style: inset;
    filter: drop-shadow(8px 8px grey);
   
}
.tenor-gif-embed {
    width: 300px;
    height: 300px;
    position: relative left;
    opacity: 0.3;
    border: 7px solid rgb(0, 0, 0);
   
}

.youtube{
    
      margin:30px; 
        padding: 10px;
        border: 4px groove rgb(190, 8, 226);
}


.footer{
color:rgb(252, 251, 251);
    text-align: center;
    border-style: inset;

}



#fortnite {
    width: 200px;
    height: 200px;
     transition: 2s;
}

body {
    background-color: rgb(48, 100, 93);

    
}


img:hover{
    width: 150px;
    height: 150px;
    filter: hue-rotate(40deg);
    border: 7px dotted rgb(0, 38, 255);
    margin:30px; 
    padding: 15px;
    

}

.text{
    border: 7px solid rgb(253, 0, 0);
    color:rgb(252, 251, 251);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
}

.details{
    border-style: inset;

}

.tenor-gif-embed {
    width:10px;
}